{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

# Read the distribution ID directly from /etc/os-release
os_name=$(grep '^ID=' /etc/os-release | cut -d= -f2 | tr -d '"')

# Set the zsh installation command depending on the distribution
install_command=""
case "$os_name" in
    almalinux)
        install_command="sudo dnf install -y"
        # Ensure util-linux-user is installed for chsh
        sudo dnf install -y util-linux-user
        ;;
    amzn | amazon)
        install_command="sudo yum install -y"
        ;;
    ubuntu)
        install_command="sudo apt-get install -y"
        ;;
    *)
        echo "Unsupported distribution: $os_name"
        exit 1
esac

# Proceed with installation and configuration
if ! command -v zsh >/dev/null 2>&1; then
    echo "Installing zsh on $os_name..."
    $install_command zsh
else
    echo "zsh is already installed."
fi

sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended

rm ~/.zshrc

export ZDOTDIR=~/.config/zsh

[[ -f ~/.zshenv ]] && mv -f ~/.zshenv ~/.zshenv.bak
ln -s $ZDOTDIR/.zshenv ~/.zshenv

# Set zsh as the default shell using chsh if available
if [ "$SHELL" != "$(which zsh)" ]; then
    sudo chsh -s "$(which zsh)" $USER
    echo "zsh set as default shell."
else
    echo "zsh is already the default shell."
fi

{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh

#install homebrew
NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

export ZDOTDIR=~/.config/zsh

[[ -f ~/.zshenv ]] && mv -f ~/.zshenv ~/.zshenv.bak
ln -s $ZDOTDIR/.zshenv ~/.zshenv

{{ end -}}
