#!/bin/bash
brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.global.tap -}}
tap {{ . | quote }}
{{ end -}}
{{ range .packages.global.brews -}}
brew {{ . | quote }}
{{ end -}}
EOF

{{ if eq .chezmoi.os "darwin" -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF

{{ else if eq .chezmoi.os "linux" -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{ end -}}