#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
{{ range .packages.brews.tap -}}
tap {{ . | quote }}
{{ end -}}
{{ range .packages.brews.formulae -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.brews.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
