{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

# Set the zsh installation command depending on the distribution
os_name=$(chezmoi data | jq -r '.chezmoi.osRelease.id')
install_command=""
case "$os_name" in
    "almalinux")
        install_command="sudo dnf install -y"
        ;;
    "amzn")
        install_command="sudo yum install -y"
        ;;
    "ubuntu")
        install_command="sudo apt-get install -y"
        ;;
    *)
        echo "Unsupported distribution: $os_name"
        exit 1
esac

# Proceed with installation and configuration
if ! command -v zsh >/dev/null 2>&1; then
    echo "Installing zsh on $os_name..."
    $install_command zsh
else
    echo "zsh is already installed."
fi

export ZDOTDIR=~/.config/zsh

[[ -f ~/.zshenv ]] && mv -f ~/.zshenv ~/.zshenv.bak
ln -s $ZDOTDIR/.zshenv ~/.zshenv

# Set zsh as the default shell
if [ "$SHELL" != "$(which zsh)" ]; then
    chsh -s "$(which zsh)"
    echo "zsh set as default shell."
else
    echo "zsh is already the default shell."
fi

{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh

#install homebrew
NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

export ZDOTDIR=~/.config/zsh

[[ -f ~/.zshenv ]] && mv -f ~/.zshenv ~/.zshenv.bak
ln -s $ZDOTDIR/.zshenv ~/.zshenv

{{ end -}}
