{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

# Read the distribution ID directly from /etc/os-release
os_name=$(grep '^ID=' /etc/os-release | cut -d= -f2 | tr -d '"')

# Set the zsh installation command depending on the distribution
install_command=""
case "$os_name" in
    almalinux)
        install_command="sudo dnf install -y"
        # Ensure util-linux-user is installed for chsh
        sudo dnf install -y util-linux-user
        ;;
    amzn | amazon)
        install_command="sudo yum install -y"
        ;;
    ubuntu)
        install_command="sudo apt-get install -y"
        ;;
    *)
        echo "Unsupported distribution: $os_name"
        exit 1
esac

if ! command -v brew &> /dev/null
then
    NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
else
    echo "Brew is already installed."
fi

eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

# Proceed with installation and configuration
if ! command -v zsh >/dev/null 2>&1; then
    echo "Installing zsh on $os_name..."
    brew install zsh
else
    echo "zsh is already installed."
fi

if ! command -v fzf >/dev/null 2>&1; then
    echo "Installing fzf on $os_name..."
    brew install fzf
else
    echo "fzf is already installed."
fi

if ! command -v lsd >/dev/null 2>&1; then
    echo "Installing lsd on $os_name..."
    brew install lsd
else
    echo "lsd is already installed."
fi

if ! command -v fuck >/dev/null 2>&1; then
    echo "Installing thefuck on $os_name..."
    brew install thefuck
else
    echo "thefuck is already installed."
fi

export ZDOTDIR=~/.config/zsh
export ZSH="$ZDOTDIR/.oh-my-zsh"

if [ ! -d "$ZSH" ]; then
    sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended
else
    echo "ZSH directory already exists."
fi

[ -f ~/.zshrc ] && rm ~/.zshrc

[[ -f ~/.zshenv ]] && mv -f ~/.zshenv ~/.zshenv.bak
ln -s $ZDOTDIR/.zshenv ~/.zshenv

# Set zsh as the default shell using chsh if available
if [ "$SHELL" != "$(which zsh)" ]; then
    sudo chsh -s "$(which zsh)" $USER
    echo "zsh set as default shell."
else
    echo "zsh is already the default shell."
fi

{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh

#install homebrew
if ! command -v brew &> /dev/null
then
    NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
else
    echo "Brew is already installed."
fi

export ZDOTDIR=~/.config/zsh
export ZSH="$ZDOTDIR/.oh-my-zsh"

if [ ! -d "$ZSH" ]; then
    sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended
else
    echo "ZSH directory already exists."
fi

[ -f ~/.zshrc ] && rm ~/.zshrc

[[ -f ~/.zshenv ]] && mv -f ~/.zshenv ~/.zshenv.bak
ln -s $ZDOTDIR/.zshenv ~/.zshenv

{{ end -}}
